#classLabel{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-font-family: serif;
}

#featureLabel{
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-font-family: serif;
    -fx-text-fill: dimgray;
}

#attributeLabel{
    -fx-font-weight: bold;
    -fx-font-size: 13px;
    -fx-text-fill: midnightblue;
}

#valueLabel{
    -fx-font-weight: bold;
    -fx-font-family: serif;
    -fx-font-size: 14px;
}

#statusLabel{
    -fx-background-color: gold;
    -fx-font-size: 9px;
    -fx-font-weight: bold;
    -fx-font-style: normal;
}